<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>To-do Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="todo-container">

        <header class="todo-header">
            <h1>Tarefas</h1>
        </header>

        <form action="/add" method="post">
            <input type="text" name="content">
            <button type="submit">Enviar</button>
        </form>

        <ul class="task-list">

            {% for task in tasks %}

            <li class="task-item">
                <input type="checkbox" id="task{{ task.id }}">
                <label for="task{{ task.id }}">{{ task.content }}</label>
            </li>

            {% endfor %}

        </ul>

        <footer class="todo-footer">
            <p>&copy; 2025 Todos os direitos reservados</p>
        </footer>

    </div>
</body>

</html>