<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>To-do Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="todo-container">

        <header class="todo-header">
            <h1>Tarefas</h1>
        </header>

        <form action="/add" method="post">
            <input type="text" name="content" class="input-task" placeholder="Insira sua tarefa aqui...">
            <button type="submit" class="send">Enviar</button>
        </form>

        <ul class="task-list">

            {% for task in tasks %}

            <li class="task-item">
                <input type="checkbox" id="task{{ task.id }}">
                <label for="task{{ task.id }}">{{ task.content }}</label>
                <a href="{{ url_for('main.update', task_id=task.id) }}">Concluir</a>
                <a href="{{ url_for('main.delete', task_id=task.id)}}">Deletar</a>
            </li>

            {% endfor %}

        </ul>

        <footer class="todo-footer">
            <p>&copy; 2025 Todos os direitos reservados</p>
        </footer>

    </div>
</body>

</html>